{% extends "layout.html" %}
{% block content %}

<div id="parentHeader">
    <h2>Welcome, {{ parent.first_name }}!</h2>
    {% load static %}
    <a href="{% url 'createChild' %}" id="createChild"><img src="{% static 'images/childIcon.png' %}"></a>
</div>

<h3>Parent Savings: <span class="money">${{ parent.profile.savings }}</span></h3>
<h3>Parent Balance: <span class="money">${{ parent.profile.balance }}</span></h3>

{% for child in childs %}
    <div class="childPanel" id="idChildDiv{{child.id}}">
        <h3>{{ child.child.user.first_name }}</h3>
        <a href="{% url 'addChore' child.child.user.id %}"><button class="button">Add Chore</button></a>
        <a href="{% url 'addGoal' child.child.user.id %}"><button class="button">Add Goal</button></a>

        <h3>Child Savings: <span class="money">${{ child.child.savings }}</span></h3>
        <h3>Child Balance: <span class="money">${{ child.child.balance }}</span></h3>

        <div class="box">
            <h4>Current Chores:</h4>
            <ul class="parentCheck">
                {% for currentChore in child.choresTodo %}
                    <li>{{ currentChore.chore }} - ${{ currentChore.reward }} <a href="{% url 'completeChore' currentChore.id%}"><button class="redeem">Complete Chore</button></a></li>    
                {% endfor %}
            </ul>
        </div>

        <div class="box">
            <h4>Current Goals:</h4>
            <ul class="parentCheck">
                {% for currentGoal in child.goalsTodo %}
                    <li>{{ currentGoal.goal }} - ${{ currentGoal.cost }}</li>        
                {% endfor %}
            </ul>
        </div>

        <div class="box">
            <h4>Completed Chores:</h4>
            <ul>
                {% for completedChore in child.choresComplete %}
                    <li>{{ completedChore.chore }} - ${{ completedChore.reward }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="box">
            <h4>Completed Goals:</h4>
            <ul>
                {% for completedGoal in child.goalsComplete %}
                    <li>{{ completedGoal.goal }} - ${{ completedGoal.cost }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}

{% endblock %}