<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PNC Kids</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/site.css' %}" />
</head>
<body>
    <div id="header">
        <div id="logo">
            <img src="{% static 'images/pnclogo.png'%}">
            <h1>PNC Kids</h1>
        </div>
        <div id="buttons">
			<a href="{% url 'index' %}"><button class="button">About</button></a>
            <a href="{% url 'login' %}"><button class="button">Login</button></a>
        </div>
    </div>
    
    <div class="container body-content">

	<h1 id="pageName">Register</h1>
	<form method="POST">
		<input type="hidden" name="csrfmiddlewaretoken" value="g8lWhbHYKBmaMkdVQoqRbEVWwVEmA2Y8eJRk4MunL28hB20IFN9gkMWmMGPkemoq">
		<table>
			{{form}}
		</table>
		<button type="submit" class="formButton">Register</button>
		{% csrf_token %}
	</form>
</div>
<footer id="footer">
	<p>&copy; {{ year }}  The PNC Financial Services Group, Inc. All rights reserved.</p>
</footer>

<script src="{% static 'scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>    
</body>
</html>